@inherits LayoutComponentBase
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<div class="p-4 d-md-flex min-vh-100">
    @if (!NavManager.Uri.Contains("/login"))
    {
        @if (LoggedIn)
        {
            <AuthorizedNavComponent></AuthorizedNavComponent>
        }
        else
        {
            <UnauthorizedNavComponent InProgress="@InProgress"></UnauthorizedNavComponent>
        }
    }
    <div class="main p-4 flex-grow-1 overflow-hidden">
        @Body
    </div>
</div>
@code {

    private bool InProgress { get; set; }
    private bool LoggedIn { get; set; }

    protected override Task OnInitializedAsync()
    {
        NavManager.LocationChanged += OnNavManagerLocationChanged;
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CheckLogin();
        }
    }

    private async void OnNavManagerLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await CheckLogin();
    }

    private async Task CheckLogin()
    {
        if (NavManager.Uri.Contains("/verify"))
            return;

        InProgress = true;
        StateHasChanged();
        await AuthService.Initialize();

        InProgress = false;
        if (AuthService.User is null || string.IsNullOrEmpty(AuthService.User.Username))
        {
            LoggedIn = false;
        }
        else
        {
            LoggedIn = true;
        }

        StateHasChanged();
    }
}