@inherits LayoutComponentBase
@inject IAuthenticationService AuthService

<main> @Body </main>
@code{
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await AuthService.Initialize();
    //     }
    // }
}