#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.userWrap {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.user-image {
    /*   outline: 3px solid tomato; */
    border: 3px outset #66c4ec;
    position: relative;
    width: 75px;
    height: 75px;
    align-self: center;
    margin-bottom: 15px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}
