#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.userWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}


.user-image {
    /*   outline: 3px solid tomato; */
    border: 3px outset #66c4ec;
    position: relative;
    max-width: 100%;
    height: auto;
    align-self: center;
    margin-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
}


.languageFlag {
    width: 32px;
    margin: 0px 5px 0px 5px;
}

.glass {
    background: linear-gradient( rgba(255, 71, 71, 0.30), rgba(30, 1, 0, 0.4));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
}