@page "/login"
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<div class="container w-50">
    <h3>Login</h3>
    <EditForm Model="@User" OnValidSubmit="@(() => Login())">
        <DataAnnotationsValidator />

        <HxInputText Label="Benutzername" @bind-Value="@User.Username"  />
        <HxInputText Label="Passwort" @bind-Value="@User.Password" />
        <HxSubmit Color="ThemeColor.Primary" CssClass="w-100">Login</HxSubmit>
    </EditForm>
</div>
@code {
    private UserModel User = new();

    private bool Loading { get; set; }
    private string Error { get; set; }

    private async Task Login()
    {
        Loading = true;

        try
        {
            await AuthenticationService.Login(User.Username, User.Password);

        }
        catch (Exception ex)
        {
            Error = ex.Message;
            Loading = false;
        }


        NavigationManager.NavigateTo("/");
    }
}
