@attribute [Route(Routes.Logout)]
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager


<div class="row">
    <div class="col-md-2 col-lg-4"></div>
    <div class="col-sm-12 col-md-8 col-lg-4">
        <div class="container-fluid text-center">
            <i class="bi bi-person-raised-hand" style="font-size: 128px;"></i>
        </div>      
            <HxAlert Color="ThemeColor.Success" CssClass="mx-auto text-center">Du wurdest erfolgreich ausgeloggt!</HxAlert>       
    </div>
    <div class="col-md-2 col-lg-4"></div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Logout();
        }       
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task Logout()
    {
        await AuthService.Logout();       
        NavManager.NavigateTo("/logout");
    }
}
