<HxSidebar CssClass="sticky-top">
    <HeaderTemplate>
        <div class="userWrap">
            <div class="user-image">
                <img src="https://i.pravatar.cc/75" alt="">
            </div>
        </div>
    </HeaderTemplate>
    <ItemsTemplate>
        <HxSidebarItem Icon="BootstrapIcon.Person" Href="/" CssClass="pb-4">
            <ContentTemplate>
                Profil
            </ContentTemplate>
        </HxSidebarItem>
        <HxSidebarItem Icon="BootstrapIcon.Columns" Href="/">
            <ContentTemplate>
                Dashboard
            </ContentTemplate>
        </HxSidebarItem>
        <HxSidebarItem Icon="BootstrapIcon.PlusCircle" Href="/addreminder">
            <ContentTemplate>
                Reminder <HxBadge Color="ThemeColor.Secondary" CssClass="ms-2">5</HxBadge>
            </ContentTemplate>
        </HxSidebarItem>

        <HxSidebarItem Icon="BootstrapIcon.Gear" Href="/" CssClass="border-top mt-5 pt-2 ">
            <ContentTemplate>
                Einstellungen
            </ContentTemplate>
        </HxSidebarItem>
    </ItemsTemplate>
    <TogglerTemplate></TogglerTemplate>
</HxSidebar>