@inject NavigationManager NavManager

<div class="row pb-2">
    @foreach (SearchResultModel searchResult in SearchResults)
    {
        <HxCard ImageAlt=""
                ImageSrc="@searchResult.CoverArtUrl"
                ImageHeight="330"
                ImageWidth="220"
                style="width: 256px;"
                CssClass="pt-2 mt-4 mx-2 rounded">
            <HeaderTemplate>
                @switch (searchResult.StreamingPortal)
                {
                    case StreamingPortal.AniWorld:
                        <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>AniWorld</div>
                        break;
                    case StreamingPortal.STO:
                        <div class="text-warning fw-light text-center" style="font-family: 'Roboto', sans-serif;"><HxIcon CssClass="px-2 fs-4 align-middle" Icon="BootstrapIcon.Cloud"></HxIcon>S.TO</div>
                        break;
                    default:
                        break;
                }
            </HeaderTemplate>
            <BodyTemplate>
                <HxCardTitle>@searchResult.Title</HxCardTitle>
                    <HxCardText>@searchResult.Description</HxCardText>
                    <HxButton @onclick="@(() => NavigateToSeriesDetail(searchResult.Title))" Color="ThemeColor.Primary" CssClass="w-100">Auswählen</HxButton>
                </BodyTemplate>
            </HxCard>
    }
</div>

@code {
    [Parameter]
    public List<SearchResultModel> SearchResults { get; set; }


    private void NavigateToSeriesDetail(string seriesName)
    {
        NavManager.NavigateTo($"{Routes.SeriesDetail}/{seriesName}");
    }
}
