<HxSidebar CssClass="ps-2 pt-3">
    <HeaderTemplate>
        <div class="d-none d-md-block userWrap text-center mx-1">
            <img class="user-image d-inline" src="img/favicon.jpeg" alt="user profile picture" title="user profile picture">
        </div>
    </HeaderTemplate>
    <ItemsTemplate>
        <HxSidebarItem Href="@Routes.Login" Enabled="@(!InProgress)">
            <ContentTemplate>
                @if (@InProgress)
                {
                    <HxSpinner Size="SpinnerSize.Small" />
                }
                else
                {
                    <HxIcon Icon="BootstrapIcon.Send" />
                }
                Login
            </ContentTemplate>
        </HxSidebarItem>
        <HxSidebarItem Icon="BootstrapIcon.PlusLg" Href="@Routes.Verify">
            <ContentTemplate>
                Verifizieren
            </ContentTemplate>
        </HxSidebarItem>
    </ItemsTemplate>
    <TogglerTemplate></TogglerTemplate>
</HxSidebar>

@code{
    [Parameter]
    public bool InProgress { get; set; }
}